.landing-page {
    font-family: 'Arial', sans-serif;
    color: white;
    // background: linear-gradient(135deg, #5ea2ff, #ff6e70);
    min-height: 100vh;
  
    /* Navigation Bar */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
  
      a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
      }
  
      .sign-in-btn {
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  
    /* Hero Section */
    .hero-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      padding: 60px 20px;
  
      .hero-content {
        max-width: 600px;
        h1 {
          font-size: 3rem;
          margin-bottom: 20px;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.5;
        }
      }
  
      .hero-visual {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
  
        img {
          max-width: 100%;
          height: auto;
        }
  
        .phone-image {
          max-width: 150px;
          z-index: 2;
          margin-right: -20px;
        }
  
        .tablet-image {
          max-width: 250px;
          z-index: 1;
          margin-left: -30px;
        }
      }
    }
  }
  
  /* Responsiveness */
  @media (min-width: 768px) {
    .hero-section {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
  
      .hero-content {
        h1 {
          font-size: 4rem;
        }
      }
    }
  }

  .btn{
    margin-left: 10px;
  }

  .slide-button:hover {
    transform: scale(1.1);
  }